html {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  color: #333;
  background: gainsboro;
}

body {
  display: block;
  width: 100%;
  height: 90%;

  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
}

div::-webkit-scrollbar {
  width: 2px;
}

button {
  margin: 0;
  padding: 5px;

  font-size: 0.99em;
  font-weight: bold;
  color: #333;

  cursor: pointer;
  background: none;
  border: none;
/*  border-top: none;
  border-right: 1px solid black;
  border-bottom: none;
  border-left: 1px solid black;*/
}

button:focus {
  outline: none;
}

textarea {
  width: 24em;
  height: 4em;
}

input {
  line-height: 1.42857143;
}

div#p_bar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;

  width: 0;
  height: 2px;
  background: #333;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

div.wrapper {
  width: 75%;
  height: 100%;

  margin: 2em auto;

  background: white;
}

span#title {
  display: block;

  padding: 1em;

  font-size: 3em;
  text-align: left;
}
span[id*="_errors"] {
  display: block;

  font-size: 0.9em;
  color: red;
}

div.tools {
  margin: 0 2em 5em 2em;
}

div.tools > button {
  float: right;
  margin: 0 1em;
}

div.tools div.formbox {
  float: left;
  margin: 0 0 0 2em;
  padding: 5px;
}

div.contents {
  clear: both;
  width: 90%;
  min-height: 50px;
  max-height: 60%;
  overflow-y: auto;

  /*margin: 1em 0 0 2em;*/
  margin: 0 auto;

  /*border: 1px solid gray;*/
}

div.contents > span {
  margin: 0.2em;
}

div.version {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

div.line_item1 {
  cursor: pointer;

  border: 1px solid #EEE;
  border-top: none;
  border-left: none;
  border-right: none;
}

div.line_item1:nth-child(3n+1) {
  background: #FFF;
}

div.line_item1:nth-child(3n+2) {
  background: #F8F8FF;
}

div.line_item1:nth-child(3n+0) {
  background: #ECF0F1;
}


div.line_item1 > span {
  display: inline-block;
  width: 18em;
  overflow: hidden;

  white-space: nowrap;
  line-height: 1.25;
}

div.search_header {
  position: relative;
  top: 0;
  left: 0;

  margin: 0.2em;
  cursor: pointer;
}

div.search_header > span {
  display: inline-block;
  width: 18em;
  overflow: hidden;

  white-space: nowrap;
  line-height: 1.25;

  border: 1px solid black;
}

div.line_item2 {
  margin: 0.2em;
  cursor: pointer;
}

div.info_box > div > span {
  display: inline-block;
  min-width: 4em;

  margin: 0.2em;

  text-align: left;
}

div.info_box > span {
  font-size: 0.7em;
  color: gray;
}

div.create_u {
  float: left;
}

div.create_u > div {
  margin: 0.2em;
}

div.create_u > div > span {
  display: inline-block;
  min-width: 7em;

  margin: 0.5em;

  text-align: left;
}

div.create_u > div > span#point_errors {
  display: block;
}

div.search_list {
  float: left;
  height: 18em;

  margin: 0 0 0 10em;

  overflow-y: scroll;
}

div.upload {
  width: 50%;
}

div.upload > form > div {
  margin: 2em;
}

div.choose_pin_files {
  margin: 2em;
}